<!-- Toolbar -->
<mat-sidenav-container style="height:100%;">
  <mat-toolbar color="primary">
    <button mat-icon-button>
      <mat-icon>attach_money</mat-icon>
    </button>
    <span>Finances</span>
    <span style="flex: 1 1 auto;"></span>
    <button mat-button [matMenuTriggerFor]="menu">Bilancio: {{bilancio[bilancio.length - 1].valore}}€</button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item *ngFor="let bil of bilancio">{{bil.conto}}: {{bil.valore}}€</button>
    </mat-menu>
  </mat-toolbar>

  <router-outlet></router-outlet>
</mat-sidenav-container>