<mat-card class="card">
  <mat-card-header>
    <mat-card-title>Bilanci per conto</mat-card-title>
  </mat-card-header>

  <div class="chart">
    <apx-chart
      [series]="chartOptions1.series!"
      [chart]="chartOptions1.chart!"
      [xaxis]="chartOptions1.xaxis!"
      [stroke]="chartOptions1.stroke!"
      [colors]="chartOptions1.colors!"
      [dataLabels]="chartOptions1.dataLabels!"
      [legend]="chartOptions1.legend!"
      [markers]="chartOptions1.markers!"
      [grid]="chartOptions1.grid!"
      [yaxis]="chartOptions1.yaxis!"
  ></apx-chart>
  <apx-chart
  [series]="chartOptions2.series!"
  [chart]="chartOptions2.chart!"
  [xaxis]="chartOptions2.xaxis!"
  [stroke]="chartOptions2.stroke!"
  [colors]="chartOptions2.colors!"
  [dataLabels]="chartOptions2.dataLabels!"
  [legend]="chartOptions2.legend!"
  [markers]="chartOptions2.markers!"
  [grid]="chartOptions2.grid!"
  [yaxis]="chartOptions2.yaxis!"
></apx-chart>
  </div>
</mat-card>