<mat-card class="card">
  <mat-card-header>
    <mat-card-title>Bilanci per conto</mat-card-title>
  </mat-card-header>

  <div class="chart">
    <apx-chart
      [series]="chartOptions.series!"
      [chart]="chartOptions.chart!"
      [xaxis]="chartOptions.xaxis!"
      [stroke]="chartOptions.stroke!"
      [colors]="chartOptions.colors!"
      [dataLabels]="chartOptions.dataLabels!"
      [legend]="chartOptions.legend!"
      [markers]="chartOptions.markers!"
      [grid]="chartOptions.grid!"
      [yaxis]="chartOptions.yaxis!"
  ></apx-chart>
  </div>
</mat-card>